%h2 Practice:

%em.song-title= @song.title

%p
  %strong In
  = "#{@song.key} #{@song.quality} (Concert)"
%p
  %strong On
  .instrument= @instrument.name

%hr
= link_to 'Next', repertoire_practice_path(@repertoire)
