%h2= @repertoire.name

= button_to 'Practice', repertoire_practice_sessions_path(@repertoire), method: :post

= link_to 'Edit', edit_repertoire_path(@repertoire)
= button_to 'Delete', @repertoire, method: :delete, data: {confirm: 'Are you Sure?'}
%br
= link_to 'New Song', new_repertoire_song_path(@repertoire)

%h4 Songs:
%em= @repertoire.selected_songs_count

= form_tag repertoire_update_songs_path(@repertoire) do
  - @songs.each do |song|
    = fields_for 'songs[]', song do |sf|
      = sf.check_box :selected
      = link_to song.title, repertoire_song_path(@repertoire, song)
      %br
  = submit_tag 'Update Selected Songs'
