%h2= @repertoire.name

= link_to 'Edit', edit_repertoire_path(@repertoire)
= button_to 'Delete', @repertoire, method: :delete, data: {confirm: 'Are you Sure?'}
%br
= link_to 'New Song', new_repertoire_song_path(@repertoire)

%h4 Songs:
- @songs.each do |song|
  = link_to song.title, repertoire_song_path(@repertoire, song)
  %br
