- if @song.errors.any?
  #error_explanation
    %h2= "#{pluralize(@song.errors.count, 'error')} prohibited this song from being saved:"
    %ul
      - @song.errors.full_messages.each do |message|
        %li= message

= form_for [@repertoire, @song] do |f|
  = f.label :title
  = f.text_field :title

  = f.label :key
  = f.text_field :key

  = f.label :quality
  = f.select :quality, [:major, :minor]

  = f.label :comfort
  = f.select :comfort, [0, 1, 2, 3, 4, 5]

  = f.submit submit_text
