%h2 New Song

= form_for [@repertoire, @song] do |f|
  = f.label :title
  = f.text_field :title

  = f.label :key
  = f.text_field :key

  = f.label :quality
  = f.text_field :quality

  = f.label :comfort
  = f.select :comfort, [0, 1, 2, 3, 4, 5]

  = f.submit 'Add Song'
