%h2= @song.title

%p
  %strong Key:
  = "#{@song.key} #{@song.quality}"

%p
  %strong Comfort:
  = @song.comfort

%br
= link_to 'Edit', edit_repertoire_song_path(@repertoire, @song)
= button_to 'Delete', repertoire_song_path(@repertoire, @song), method: :delete, data: {confirm: 'Are you sure?'}
