%h2= "Practicing: #{@practice_session.repertoire.name}"

.suggestion
  %strong Play:
  %span.suggested-song-title= @suggestion.song_title
  %strong In:
  %span.suggested-key #{@suggestion.key} #{@suggestion.song.quality}
  %strong On:
  %span.suggested-instrument= @suggestion.instrument_name

= button_to 'Next', suggestions_path(@suggestion, practice_session_id: @practice_session.id), method: :post
