- if @instrument.errors.any?
  #error_explanation
    %h2= "#{pluralize(@instrument.errors.count, 'error')} prohibited this instrument from being saved:"
    %ul
      - @instrument.errors.full_messages.each do |message|
        %li= message

= form_for @instrument do |f|
  = f.label :name
  = f.text_field :name

  = f.label :key
  = f.text_field :key

  = f.label :selected
  = f.check_box :selected

  = f.submit submit_text
