!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RepertoireApp
    = csrf_meta_tags
  %body
    .nav-bar
      = link_to 'Repertoires', repertoires_path
      = link_to 'Instruments', instruments_path

    - flash.each do |key, value|
      %div{class: "alert alert-#{key}"}= value

    = yield
